@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&display=swap');

$white: #ffffff;
$pink: #E91E63;
$blue: #1a6aa7;

$family-sans-serif: "Open Sans", sans-serif;
$size-1: 3.5em;
$size-huge: 6em;

$image-radius: 0.5em;
$block-spacing: 0.5em;

// Body
$body-line-height: 1.7;

// Button
$button-padding-vertical: 1.25em;

// Cards
$card-content-padding: 0.7rem 0;

// Footer
$footer-background-color: $white;
$footer-padding: 1.5em 1.5em;

// Section
$section-padding: 1.5em;

// Sizes
$tablet: 768px;

// Tabs
$tabs-border-bottom-style: none;

// Title
$subtitle-negative-margin: $block-spacing;

// Zoom
$zoom-scale: 1.1;
$zoom-speed: 4s;
