@charset "utf-8";

@import "variables";

/* import relevant Bulma modules */
@import "../bulma/bulma.sass";
// @import "../bulma/sass/base/_all.sass";
// @import "../bulma/sass/components/_all.sass";
// @import "../bulma/sass/elements/_all.sass";
// @import "../bulma/sass/form/_all.sass";
// @import "../bulma/sass/grid/_all.sass";
// @import "../bulma/sass/layout/_all.sass";
// @import "../bulma/sass/utilities/_all.sass";

%horizontal-li {
    li {
        display: inline;

        &:after {
            content: " \00b7";
            font-weight: $weight-bold;
            margin: 0 0.8em;
        }


        &:last-child:after {
            content: none;
            margin: unset;
        }
    }
}

.home-column:not(:last-child) {
    border-right: solid $hr-height $hr-background-color;
}

.header {
    padding-top: 1rem;

    &-menu {
        padding-top: 0.2rem;
        justify-content: space-evenly;
        align-items: stretch;

        .button.is-active {
            fill: $blue !important;
            color: $blue !important;
        }

        @media (min-width: 769px) {
            justify-content: flex-end;
        }
    }
}

.is-huge {
    font-size: $size-huge;
}

.is-shadowless {
    box-shadow: unset;
}

.is-flex-column {
    flex-direction: column;
}

.is-spaced-evenly {
    justify-content: space-evenly;
}

.has-rounded-corners {
    border-radius: $image-radius;
}

.has-padding-tablet {
    @media (min-width: 769px) {
        padding: $section-padding !important;
    }
}

.travel-tile-caption {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 2em;
    padding-left: 2em;
    padding: 1em 2em;
    width: 100%;
}

header {
    & .button {
        fill: $grey;
    }

    & .button {
        &:hover {
            fill: $blue !important;
            color: $blue !important;
        }
    }
}

#content {

    & img {
        object-fit: contain;
    }

    & figcaption p {
        padding-top: 2em;
    }

    & p a {
        border-bottom: 1px solid $blue;
        padding-bottom: .25rem;

        &:hover {
            color: $pink;
            border-bottom-color: $pink;
        }
    }
}

#TableOfContents {

    font-family: $family-sans-serif;

    & a {
        color: $blue;
        font-size: $size-5;
        font-weight: $weight-bold;
        line-height: 1.7*$size-5;
    }
}

.toc {
    border-radius: 1em;
    border: 3px solid $grey-lighter;
    padding: 1em;

    &-header{
        background-color: $pink;
        padding: .25em .5em;
        width: unset;
    }
}

h1, h2, h3, h4, h5, h6 {
    a {
        border-bottom: 2px solid $blue;
        padding-bottom: .01rem;
    }
} 

header {
    h1, h2, h3, h4, h5, h6 {
        a {
            border-bottom: unset;
            padding-bottom: unset;
        }
    } 
}

#stats {

    font-family: $family-sans-serif;

    & h2:not(:first-child) {
        margin-top: 5em;
    }

    & hr {
        max-width: 2em;
    }
}

#content figure {
    margin: 1em 0;

    .image img {
        border-radius: $image-radius;
    }
}

#list {
    .title:not(:last-child) {
        margin-top: .5em;
    }
}

footer {
    .level-item {
        justify-content: right;
    }
}

#about {
    img {
        object-fit: contain;
    }
}

.article-list-item {
    padding: 1.5em;

    &:not(:last-child) {
        border-bottom: solid $hr-height $hr-background-color;
    }

    &:hover {
        background-color: $white-bis;
    }

    p {
        line-height: 1.5;
    }

    img {
        object-fit: cover;
    }
}

.separator {
    text-align: center;
    border: 0;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;

    &>* {
        display: inline-block;
        vertical-align: middle;
    }

    &:before, &:after {
        content: "";
        height: 10px;
        width: 50%;
        background-color: $hr-background-color;
        margin: 0 5px 0 5px;
        display: inline-block;
        vertical-align: middle;
    }

    &:before {
        margin-left: -100%;
    }

    &:after {
        margin-right: -100%;

    }
}

h1, h2, h3, h4, h5, h6, th, figcaption, .button, footer {
    font-family: $family-sans-serif;
}

.blog-tile {
    padding-bottom: $gap;

    &:not(:first-child) {
        padding-top: $gap;
    }

    &:hover {
        background-color: $white-bis;
    }
}

.zoom {
    -webkit-transition: all $zoom-speed ease; /* Safari and Chrome */
    -moz-transition: all $zoom-speed ease; /* Firefox */
    -ms-transition: all $zoom-speed ease; /* IE 9 */
    -o-transition: all $zoom-speed ease; /* Opera */
    transition: all $zoom-speed ease;

    &:hover {
        border-radius: $image-radius;

        -webkit-transform:scale($zoom-scale); /* Safari and Chrome */
        -moz-transform:scale($zoom-scale); /* Firefox */
        -ms-transform:scale($zoom-scale); /* IE 9 */
        -o-transform:scale($zoom-scale); /* Opera */
        transform:scale($zoom-scale);
    }
}

#sets {
    li:not(:first-child) {
        margin-top: 2em;
    }

    li:not(:last-child) {
        margin-bottom: 2em;
    }
}

#sets, #travel-set, .travel-tile, .blog-tile {
    img {
        object-fit: cover;
    }
}

.travel-item {
    padding: 1em;

    &:hover {
        background-color: $grey-dark;
    }

    &__content {
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
    }

    &__description {
        flex-grow: 1;

        svg {
            fill: $grey;
        }
    }

    &__stats {
        margin-top: 1em;

    }

    @extend %horizontal-li;
}

.nested-travel-item {
    hr {
        max-width: 4em;
        margin-left: auto;
        margin-right:auto;
    }

    h1 {
        line-height: 1.4;
    }

    &__content {
        @media (min-width: 769px) {
            padding-top: 2em;
            padding-bottom: 2em;
        }
    }
}

#travel-post {
    .card  {
        overflow: hidden;

        footer {
            @extend %horizontal-li;
            padding: 2em 4em;
            background-color: #212629;
        }
    }
}

.about-value {
    a {
        border: 1px solid $grey-lighter;
        border-radius: $radius;
        padding: 0.3em;
    }
}

// https://dev.to/stereobooster/responsive-images-for-hugo-dn9
// Used for <noscript> displaying of images
.nojs {
    .img {
        .lazyload {
            display: none;
        }
    }
}

.img svg,
.img img {
  margin: 0;
  width: 100%;
  height: auto;
}

.img {
  position: relative
}

.img img {
  position: absolute;
  top:0;
  left:0;
}

.shopping-item {
    border: 1px solid $grey-lighter;
    padding: 1em;
}

@import "theme";
