<!doctype html>
<html class="no-js" lang="en">

{{- partial "head.html" . -}}

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {{- partial "header.html" . -}}

  {{- block "main" . }}{{- end }}

  {{- partial "footer.html" . -}}

  {{- partial "footer-js.html" . -}}
</body>

</html>