{{ define "main" }}
<section class="section" id="list">

    <div class="is-hidden-tablet">
        {{ $currentYear := now.Year }}
        {{ range .Pages }}
        {{- partial "component/blog-tile.html" . -}}
        {{ end }}
    </div>

    <div class="columns is-centered is-hidden-mobile">
        {{ $currentYear = now.Year }}
        <div class="column is-9-desktop is-7-widescreen is-6-fullhd">
            <ul>
                {{ range .Pages }}
                {{ if and (ne .PublishDate.Year now.Year) (ne .PublishDate.Year $currentYear) }}
            </ul>
            <h2 class="title is-3 has-text-weight-bold has-text-centered separator">
                <span style="padding: 0 2em;">{{ .PublishDate.Format "2006" }}</span>
            </h2>
            <ul>
                {{ $currentYear = .PublishDate.Year }}
                {{ end }}

                <li class="container article-list-item">
                    <a href="{{ .Permalink | relURL }}">
                        <div class="columns">
                            <div class="column is-8 content">
                                <h1 class="title is-4 has-text-weight-bold has-text-link">{{ .Title }}</h1>
                                <h2 class="subtitle is-6 has-text-black has-text-weight-medium">{{ .Description }}</h2>
                            </div>
                            <div class="column is-4">
                                {{ with .Params.featuredimage }}
                                <figure class="image is-3by2">
                                    <img src="{{ .url }}" alt="{{ .alt }}">
                                </figure>
                                {{ end }}
                            </div>
                        </div>
                    </a>
                </li>

                {{ end }}

            </ul>
        </div>
    </div>

</section>
{{ end }}