{{ define "main" }}
<section class="section" id="intro">
    <div class="columns is-centered">
        <div class="column is-full-mobile is-9-widescreen is-half-fullhd">
            <div class="container">
                <h1 class="title is-size-1-tablet is-size-3-mobile has-text-weight-bold">{{ .Title }}</h1>
                <h2 class="subtitle is-size-3-tablet is-size-5-mobile has-text-grey-light has-text-weight-bold">
                    {{ .Description }}</h2>
            </div>
            {{ with .Params.featuredimage }}
            <section class="section is-paddingless has-padding-tablet">
                <div class="container">
                    <figure class="image {{ .ratio | default "is-3by2" }}">
                        <img style="object-fit: cover;" src="{{ .url }}" alt="{{ .alt }}">
                    </figure>
                </div>
            </section>
            {{ end }}
        </div>
    </div>


    <div class="content">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-full-mobile is-9-tablet is-6-widescreen">
                    {{ with .Params.intro }}
                    <p class="is-size-5 has-text-weight-bold">{{ . | safeHTML }}</p>
                    {{ end }}

                    {{ with .Params.preamble }}
                    <p class="has-text-weight-medium">{{ . | safeHTML }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    {{- partial "table-of-contents.html" . -}}

</section>

<section class="section container" id="content">
    <div class="columns is-centered">
        <div class="column is-full-mobile is-9-tablet is-6-widescreen">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
{{ end }}