<div class="card is-shadowless blog-tile">
    <a href="{{ .Permalink }}">
        {{ with .Params.featuredimage }}
        <div class="card-image">
            <figure class="image is-3by2">
                <img class="has-rounded-corners lazyload" data-src="{{ .url }}" alt="{{ .alt }}">
            </figure>
        </div>
        {{ end }}
        <div class="card-content content">
            {{ if gt .Lastmod.Unix .PublishDate.Unix }}
            <h2 class="title is-6 has-text-grey has-text-weight-semibold is-uppercase">
                Updated
            </h2>
            {{ end }}
            <h1 class="title is-4 has-text-link has-text-weight-bold">{{ .Title }}</h1>
            <h2 class="subtitle is-6 has-text-black has-text-weight-medium">{{ .Description }}</h2>
        </div>
    </a>
</div>
<hr class="is-marginless">