<li class="travel-item has-rounded-corners">
    <a href="{{ .Permalink | relURL }}">
        <div class="columns">
            <div class="column is-5 travel-item__image">
                {{ with .Params.coverimage }}
                <figure class="image is-{{ .ratio | default "square" }} is-clipped">
                    <img data-src="{{ .url }}" alt="{{ .alt }}" class="has-rounded-corners zoom lazyload">
                </figure>
                {{ end }}
            </div>
            <div class="column is-7 travel-item__content">
                <div class="travel-item__description">
                    {{ if eq .Kind "section" }}
                    <p class="is-uppercase has-text-grey-light">Collection</p>
                    {{ end }}
                    <h1 class="title is-size-4-mobile has-text-white has-text-weight-bold">{{ .Title }}
                    </h1>
                    {{ with .Params.location }}
                    <h2 class="subtitle is-size-6-mobile has-text-grey-light">
                        <span class="icon is-medium">{{ partial "icon/svg/map-marker.svg" . }}</span>
                        {{ .title }}
                    </h2>
                    {{ end }}

                    {{ with .Description }}
                    <p class="is-size-5 has-text-grey-light">{{ . }}</p>
                    {{ end }}
                </div>
                {{ with .Params.stats }}
                <ul class="travel-item__stats">
                    {{ range . }}
                    <li class="has-text-grey is-uppercase"><strong class="has-text-grey-lighter">{{ .value }}</strong>
                        {{ .unit }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    </a>
    {{ if eq .Kind "section" }}
    <ul class="nested-travel-item">
        {{ range .Pages }}
        <a href="{{ .Permalink | relURL }}">
            <li class="columns is-mobile is-centered">
                <div class="column is-4-mobile is-3-tablet is-2-desktop nested-travel-item__image">
                    {{ with .Params.coverimage }}
                    <figure class="image is-{{ .ratio | default "square" }} is-clipped">
                        <img src="{{ .url }}" alt="{{ .alt }}" class="has-rounded-corners zoom">
                    </figure>
                    {{ end }}
                </div>
                <div class="column is-8-mobile is-7-tablet is-6-desktop nested-travel-item__content">
                    <h1 class="title has-text-grey-light is-4 is-size-6-mobile has-text-weight-bold">{{ .Title }}</h1>
                    <h2 class="subtitle has-text-grey is-6 is-size-7-mobile has-text-weight-semibold">{{ .Description }}
                    </h2>
                </div>
            </li>
        </a>
        <hr>
        {{ end }}
    </ul>
    {{ end }}
</li>