<div class="travel-tile card is-shadowless">
    <a href="{{ .Permalink }}">
        <div class="card-image">
            {{ with .Params.coverimage }}
            <figure class="image is-{{ .ratio | default "square" }} is-relative is-clipped">
                <img src="{{ .url }}" alt="{{ .alt }}" class="has-rounded-corners zoom">
            </figure>
            {{ end }}
            <div class="travel-tile-caption">
                <h1 class="title is-3 has-text-white is-marginless">
                    {{ .Title }}
                </h1>
                <h2 class="subtitle is-6 has-text-grey-lighter">
                    <strong class="has-text-grey-lighter">
                        {{ .Description }}
                    </strong>
                </h2>
            </div>
        </div>
        <div class="card-content"></div>
    </a>
</div>