{{ $secureJS := resources.Get "js/lazysizes.min.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"
    async></script>


<!-- Minimal Google Analytics setup -->
<script>
    // Declare variables that are used in `goon.js`
    const gaTrackingCode = "";
</script>

{{ $secureJS := resources.Get "js/goon.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"
    async></script>