{{ $page := . }}
<header>
    <div class="container is-fixed">
        <section class="section">
            <div class="columns">
                <div class="column is-full-mobile is-half-tablet has-text-centered-mobile">
                    {{ with .Site.Params.header }}
                    <h1 class="title has-text-weight-bold is-size-5">
                        <a class="has-text-grey" href="{{ "/" | relURL }}">
                            {{ .name }}
                        </a>
                        {{ if not $page.Page.IsHome }}
                        <a href="{{ .subtitle_url }}">
                            <span class="has-text-weight-light has-text-grey is-size-6">{{ .subtitle }}</span>
                        </a>
                        {{ end }}
                    </h1>
                    {{ end }}
                </div>
                <div class="column is-full-mobile is-half-tablet is-paddingless">
                    {{ partial "menu/header.html" . }}
                </div>
            </div>
        </section>
    </div>
</header>