<head>
    <meta charset="utf-8">
    <title>{{ if not .Page.IsHome }}{{ with .Page.Title }}{{ . }} - {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Page.Description }}
    <meta name="description" content="{{ . | truncate 150 }}">
    {{ end }}
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="generator" content="Hugo">
    <meta name="rating" content="General">
    <meta name="referrer" content="origin-when-crossorigin">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <link type="text/plain" rel="author" href="humans.txt" />

    <meta name="theme-color" content="#fafafa">

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" false "includePaths" (slice "scss" "bulma/")) }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

</head>