{{ if and (gt .WordCount 400 ) (.Params.toc) }}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-8-tablet is-6-widescreen">
                <div class="toc">
                    <h1 class="title is-5 has-text-weight-bold is-uppercase has-text-white toc-header">Table of
                        Contents</h1>
                    {{ .TableOfContents }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}