{{ define "main" }}
{{ $site := .Site }}

<div class="container">
    <section class="section" id="home-intro">
        <div class="columns">
            <div class="column is-full-mobile is-half-widescreen">
                <h1 class="title is-size-4-mobile is-marginless has-text-weight-bold">{{ .Title | safeHTML }}</h1>
                <h2 class="subtitle has-text-weight-semibold has-text-grey is-size-6-mobile">{{ .Description }}</h2>
                {{ with .Content }}
                <div class="has-text-grey">
                    {{ . }}
                </div>
                {{ end }}

            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns">
            {{ $rendered := 0 }}
            {{ range $site.RegularPages.GroupBy "Section" }}
            {{ $page := . }}
            {{ if lt $rendered 2 }}
            {{ if in $site.Params.frontpagesections $page.Key}}
            <div
                class="column is-full-mobile is-6-tablet is-{{ add 5 (mul $rendered 2) }}-desktop is-flex is-flex-column home-column">
                {{ range (first 10 $page.Pages.ByLastmod).Reverse }}
                {{- partial (default "component/blog-tile.html" (index $site.Params.tile (string $page.Key)) ) . -}}
                {{ end }}

                <div class="has-text-centered">
                    <a href="{{ $page.Key | relURL }}"
                        class="button is-link is-rounded is-outlined has-text-weight-semibold"
                        style="margin-bottom: 5px; margin-top: 2em;">
                        View more {{ $page.Key }}
                    </a>
                    <br>
                    {{ with len $page.Pages }}
                    <span class="has-text-grey-light is-size-7">
                        {{ . }} {{ cond (eq 1 .) "post" "posts" }} since
                        '{{ (index $page.Pages (add (len $page.Pages) -1)).PublishDate.Format "06" }}</span>
                    {{ end }}
                </div>
            </div>
            {{ $rendered = add $rendered 1}}
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </section>
</div>
{{ end }}