{{ define "main" }}

<div id="travel-set">
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="has-text-weight-semibold is-uppercase has-text-grey-light">Collection</p>
                <h1 class="title is-huge is-size-2-mobile has-text-weight-bold has-text-white">{{ .Title }}</h1>
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-widescreen is-4-fullhd">
                        <h2 class="subtitle is-size-6-mobile is-size-5-tablet has-text-left has-text-grey-light">
                            {{ .Description }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ with .Params.coverimage }}
    <section class="section" id="cover-image">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-9-tablet is-6-desktop">
                <figure class="image is-{{ .ratio | default "square" }}">
                    <img class="has-rounded-corners" src="{{ .url }}" alt="{{ .alt }}">
                </figure>
            </div>
        </div>
    </section>
    {{ end }}

    <section class="section" id="sets">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-half-tablet has-text-centered">
                <p class="has-text-weight-semibold is-uppercase has-text-grey-light">Photosets</p>
                <hr class="is-marginless" style="max-width: 4em; margin: 1em auto !important;">
            </div>
        </div>

        <div class="columns is-centered">
            <div class="column is-full-mobile is-8-tablet is-6-desktop is-6-widescreen is-5-fullhd">
                <ul>
                    {{ range .Pages.Reverse }}
                    {{- partial "component/travel-item.html" . -}}
                    {{ end }}
                </ul>
            </div>
        </div>
    </section>
</div>

<script>
    document.documentElement.setAttribute('data-theme', 'dark');
</script>

{{ end }}