{{ define "main" }}

<section class="section" id="travel-post">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-10-desktop is-10-fullhd">
                <div class="card has-rounded-corners">
                    {{ with .Params.coverimage }}
                    <div class="card-image">
                        <figure class="image is-5by3"><img src="{{ .url }}" alt="{{ .alt }}" style="object-fit: cover;">
                        </figure>
                    </div>
                    {{ end }}
                    <div class="card-footer">

                    </div>
                    {{ with .Params.stats }}
                    <footer class="card-footer">
                        <ul>
                            {{ range . }}
                            <li class="has-text-grey is-uppercase"><strong
                                    class="has-text-grey-lighter">{{ .value }}</strong>
                                {{ .unit }}</li>
                            {{ end }}
                        </ul>
                    </footer>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="travel-content">
    <div class="columns is-centered">
        <div class="column is-full-mobile is-10-tablet is-8-desktop is-6-widescreen is-4-fullhd">
            <div class="content has-text-grey-lighter">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ partial "dark-js.html" . }}
{{ end }}