<div class="columns is-hidden-tablet">
    {{ range .Site.Menus.footer }}
    <div class="column">
        <a href="{{ .URL }}" class="button is-fullwidth is-light"><span
                class="has-text-weight-semibold is-size-6 has-text-grey">{{ .Name }}</span></a>
    </div>
    {{ end }}
</div>

<section class="section is-hidden-mobile">
    <div class="columns">
        <div class="column is-3-tablet">{{ with .Site.Params.footer }} <a href="{{ .name_url }}"
                class="has-text-weight-bold has-text-grey-light">{{ .name }}</a> {{ end }}</div>
        <div class="column is-8-tablet is-offset-1">
            <div class="level">
                {{ range .Site.Menus.footer }}
                <div class="level-item has-text-centered">
                    <a href="{{ .URL | relURL }}" class="has-text-weight-bold has-text-grey-light">
                        {{ .Name }}
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>