{{ $site := .Site }}
{{ $currentPage := . }}
{{ with .Site.Menus.header }}
<div class="buttons header-menu">
    {{ range . }}
    {{ $hasicon := false }}
    <a href="{{ .URL | relURL }}"
        class="button is-white is-normal is-marginless has-text-grey-light has-text-weight-semibold {{ if $currentPage.IsMenuCurrent "header" . }}is-active{{ end }}">
        {{ with index $site.Params.menuiconpartials.header (lower .Name) }}
        {{ $hasicon = true }}
        <span class="icon is-small">
            {{- partial . $site -}}
        </span>
        {{ end }}
        <span {{ if $hasicon }}style="margin-left: 0.5em;" {{ end }}>{{ .Name }}</span>
    </a>
    {{ end }}
</div>
{{ end }}