{{/* Used to break out of a content tile and embed other shortcuts like a gallery or image */}}

</div>
</div>
</div>
{{ .Inner }}
<div class="columns is-centered">
    <div class="column is-full-mobile is-9-tablet is-6-widescreen">
        <div class="content">