{{/*  */}}

{{ $src := .Page.Resources.GetMatch (printf "**%s*" (.Get "img")) }}

{{- if .Parent -}}
<div class="column is-4">
    {{- end }}
    <div class="shopping-item has-rounded-corners">
        <figure class="image {{ with .Get "imgratio" }}{{ . }}{{ else }}is-square{{ end }}">
            <img src="{{ with $src }}{{ $src := $src | fingerprint }}{{ $src.RelPermalink }}{{ else }}{{ .Get "img" }}{{ end }}"
                alt="{{ .Get "title" }}">
        </figure>
        <h1 class="title is-5 has-text-weight-bold">{{ .Get "title" }}</h1>
        <h2 class="subtitle is-6 has-text-grey">{{ .Get "description" }}</h2>
        <p>
            <a href="{{ .Get "link" }}" class="has-text-weight-bold">{{ .Get "link-title" }}</a>
        </p>
    </div>
    {{- if .Parent -}}
</div>
{{- end }}