{{/* Used to break out of a content tile and embed other shortcuts like a gallery or image */}}

</div>
</div>
</div>
{{ .Inner }}
<div class="columns is-centered">
    <div class="column is-full-mobile is-10-tablet is-8-desktop is-6-widescreen is-4-fullhd">
        <div class="content has-text-grey-lighter">