{{ define "main"}}

<div id="about" class="container">
    <div class="hero">
        <div class="hero-body">
            <div class="columns is-vcentered">
                <div class="column is-8-tablet">
                    <h1 class="title is-size-1-tablet is-size-3-mobile 
                    has-text-weight-bold is-marginless">{{ .Title }}</h1>
                    <h2
                        class="subtitle is-size-4-tablet is-size-5-mobile has-text-grey-light has-text-weight-bold is-marginless">
                        {{ .Description | safeHTML }}</h2>
                </div>
                {{ with .Params.profileimage }}
                <div class="column is-3-tablet is-offset-1-tablet">
                    <figure class="image is-square">
                        <img class="is-rounded" src="{{ .url }}" alt="{{ .alt }}">
                    </figure>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <section class="section" id="content">
        <div class="columns">
            <div class="column is-8-tablet content">{{ .Content }}</div>
            {{ with .Site.Data.about.stats }}
            <div id="stats" class="column is-3-tablet is-offset-1-tablet">
                {{ range . }}
                <h2 class="title is-size-6 has-text-weight-bold has-text-link is-uppercase">{{ .title }}</h2>
                <hr class="is-marginless">
                <ul>
                    {{ range .values }}
                    <li style="margin-top: .75em;" class="is-size-6">
                        <span class="is-uppercase has-text-weight-bold" style="margin-right: .5em;">{{ .key | title }}
                        </span>
                        <span class="has-text-grey is-size-6 about-value">{{ .value | safeHTML }}</span>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            {{ end }}
        </div>

        <div class="columns">
            <div class="column is-8">
                <hr>
                <div class="content">
                    {{ with .Site.Data.about }}
                    <h1 class="title is-size-7 has-text-weight-bold">The fine print</h1>
                    <p class="is-size-7">{{ .fineprint | safeHTML }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
</div>
{{ end }}