{{ define "main" }}
<section class="section" id="gear">
    <div class="columns is-centered">
        <div class="column is-full-mobile is-9-tablet is-6-widescreen">
            <h1 class="title is-size-1-tablet is-size-3-mobile has-text-weight-bold">{{ .Title }}</h1>
            <h2 class="subtitle is-size-3-tablet is-size-5-mobile has-text-grey-light has-text-weight-bold">
                {{ .Description }}</h2>
            <hr>
        </div>
    </div>

    <div class="content">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-9-tablet is-6-widescreen">
                {{ with .Params.intro }}
                <p class="is-size-5 has-text-weight-bold">{{ . | safeHTML }}</p>
                {{ end }}

                {{ with .Params.preamble }}
                <p class="has-text-weight-medium">{{ . | safeHTML }}</p>
                {{ end }}

                <div>{{ .Content }}</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-8-tablet is-6-widescreen">
                <div class="toc">
                    <h1 class="title is-5 has-text-weight-bold is-uppercase has-text-white toc-header">Table of
                        Contents</h1>
                    <nav id="TableOfContents">
                        <ul>
                            {{ range .Pages }}
                            <li>
                                <a href="#{{ .Title | anchorize }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns is-centered" id="content">
        <div class="column is-full-mobile is-9-tablet is-6-widescreen">
            {{ range .Pages }}
            {{ if not (eq .Kind "section") }}
            <h3 class="title is-size-2-tablet is-size-4-mobile has-text-weight-bold" id="{{ .Title | anchorize}}">
                <span class="separator">
                    {{ .Title }}
                </span>
            </h3>
            <h4 class="subtitle is-size-4-tablet is-size-5-mobile has-text-grey-light has-text-weight-bold">
                {{ .Description }}</h4>
            <div class="content">{{ .Content }}</div>
            {{ end }}
            {{ end }}
        </div>
    </div>

</section>
{{ end }}