{{ define "main" }}
<section class="section" id="travel">
    <div class="columns is-centered">
        <div class="column is-full-mobile is-8-tablet is-6-desktop is-5-widescreen is-4 fullhd">
            <h1 class="title has-text-white is-huge is-size-1-mobile has-text-weight-bold has-text-centered">
                {{ .Title }}</h1>
            <h2 class="subtitle is-size-6-mobile is-size-5-tablet has-text-left has-text-grey-light">
                {{ .Description }}
            </h2>
        </div>
    </div>
</section>

{{ $allPostsSections := sort (append .Pages .Sections) "Lastmod" "desc"}}

<section class="section" id="sets">
    <div class="columns is-centered">
        <div class="column is-full-mobile is-full-tablet is-8-widescreen">
            <ul>
                {{ range $allPostsSections }}
                {{- partial "component/travel-item.html" . -}}
                {{ end }}
            </ul>
        </div>
    </div>
</section>

{{ partial "dark-js.html" . }}
{{ end }}